// polices
$headings-font-family: 'AltonaBold', 'Ubuntu';
$font-family-sans-serif : 'Futura Book','-apple-system', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

// couleur
$primary:       #ed6b5b;
$dark:          #3a3e59;
$danger:        #f9ac68;