{% extends 'boutique/achat.html' %}
{% block form %}
<form action="{% url 'boutique:caisse' %}" method="POST">
    {% csrf_token %}
    {{ formu.as_p }}
    <h4 style="text-decoration: underline #ed6b5b;">LA COMMANDE</h4>
    {% include 'boutique/contenu_panier.html' %}
    <div class="d-table mx-auto">
        <table class="table table-bordered mx-auto">
            <tbody>
                <tr>
                    <th scope="col">Total</th>
                    <th style="color: #ed6b5b ;">{{ prix_total }} {{devise}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary ml-auto">Valider la commande</button>
</form>
{% endblock %}