
<ul class="navbar-nav ">
    {% for cat in categories_liste %}                
    <li class="nav-item dropdown mr-3">
        <a href="" class="nav-link ml-n3 dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cat.nom }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a href="" class="dropdown-item">Apple</a>
            <a href="" class="dropdown-item">Apple</a>
        </div>
    </li>
    {% endfor %}
</ul>