{% extends 'boutique/connexion.html' %}
{% block title %}changement de mot de passe{% endblock %}
{% block content %}
<div class="d-flex my-5">
    <div class="formulare mx-auto">
        <h5>Modification du mot de passe:</h5>
        <hr>
        {% if error %}
            <p style="color: rgb(236, 24, 24);"><strong>Ancien mot de passe incorret</strong></p>
        {% endif %}
        <form action="{% url 'boutique:passwordchange' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
        <hr>
        <div class="d-inline-flex flex-wrap">
            <a href="{% url 'boutique:inscription' %}">créer un autre compte.</a>
        </div>
    </div>
</div>
{% endblock %}