<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Fichier static-->
     <link rel="stylesheet" href="{% static 'boutique/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'boutique/css/login.css' %}">
     <link rel="shortcut icon" type="image/png" href="{% static 'boutique/img/logo.png' %}"/>
     <!--Typographie-->
     <link href="//db.onlinewebfonts.com/c/02a0efa4275f78836dfc89db9e21feea?family=Futura+Book" rel="stylesheet" type="text/css"/>
     <link href="//db.onlinewebfonts.com/c/4bfead3a244dd227921e53b4d31c36ed?family=AltonaBold" rel="stylesheet" type="text/css"/>
    <title>{% block title %}Inscription sur soma electronic{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-expand-lg">
            <a href="{% url 'boutique:accueil' %}" class="navbar-brand ml-n3">
                <img classe="logo" width="65" height="65" src="{% static 'boutique/img/logo.png' %}" alt="logo soma-electronic" title="Accueil">
            </a>
            <div class="navlink ml-auto">
                <a href="" data-toggle="modal" data-target="#staticBackdrop">A propos</a>
                <!-- Button trigger modal -->
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Soma Electronic</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            Soma-Electronic est une boutique de vente en ligne, fictive dans le cadre d'un projet en Django.
                            Oui le site est bel et bien construit avec Django en profitant de toute sa magie.
                            <footer class="blockquote-footer"><a href="https://www.instagram.com/the_softpreneur" target="_blank" rel="noopener noreferrer">Seria Medard </a>,<cite title="Source Title"> The softpreneur</cite></footer>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-n3">
        {% block content %}
        <div class="d-flex my-5">
            <div class="mx-auto ">
                <div class="formulaire">
                    <h2 class="mb-3">
                        Créer un compte.
                    </h2>
                    {% if error %}
                    <p style="color: rgb(236, 24, 24);"><strong>{{error}}</strong></p>
                    {% endif %}
                    <form action="{% url 'boutique:inscription' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-25" >Créer</button>
                    </form>
                    <hr>
                    <p class="">
                        vous avez déja un compte!
                        <a href="{% url 'boutique:connexion' %}">connectez-vous.</a>
                    </p>
                    
                </div>
            </div>
            
        </div>
        {% endblock %}
    </div>
    <!--Option javascrpt-->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>