{% extends 'boutique/connexion.html' %}
{% block title %}Modification du profil{% endblock %}
{% block content %}
<div class="d-flex my-5">
    <div class="formulare mx-auto w-50">
        <h3 class="text-center">Modification du compte</h3>
        <hr>
        <form action="{% url 'boutique:modif_profil' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</div>
{% endblock %}
