<!-- Button trigger modal -->
<a   href="{% url 'boutique:accueil' %}" data-toggle="modal" data-target="#exampleModal">
    Newsletter
</a>
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">
                    <h5>Abonnez vous à notre newsletter</h5>
                    <p>Pour être au courant des nouveaux produits de haute gamme.</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <form action="{% url 'boutique:accueil' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    {{form.last_name}}
                </div>
                <div class="form-group">
                    {{form.email}}
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" >Je m'inscris</button>
            </div>
        </form>
        {% if errors %}
        <div class="ml-3">
            {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
            {% endfor %}
        </div>
        {% endif %}
        

      </div>
    </div>
</div>