<!-- Button trigger modal -->
<a   href="{% url 'boutique:accueil' %}" data-toggle="modal" data-target="#exampleModal">
    Mon Panier
</a>
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">
                    <h5>Mon panier</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% include 'boutique:contenu_panier.html' %}
      </div>
    </div>
</div>