{% extends 'boutique/index.html' %}
{% block title %}SE Ajout au panier{% endblock %}

{% block content%}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'boutique:accueil' %}">Accueil</a></li>
      <li class="breadcrumb-item"><a href="{% url 'boutique:boutique' %}">Produit</a></li>
      <li class="breadcrumb-item active" aria-current="page">Panier</li>
    </ol>
</nav>
<div class="d-table mx-auto">
    {% for message in messages%}
    <div class="alert alert-warning alert-dismissible fade show mr-3" role="alert">
        <strong>Info!</strong> {{message}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
   
  {% include 'boutique/contenu_panier.html' %}
  <div class="d-flex"> 
      <a href="{% url 'boutique:boutique' %}" class="btn btn-outline-danger ">Poursuivre les achats!</a>
      <a href="{% url 'boutique:caisse' %}" class="btn btn-outline-danger ml-auto">Direction à la caisse</a>
  </div>
  <div style="height: 30px;">
  </div>
</div>
{% endblock %}
