{% extends 'boutique/connexion.html' %}
{% block title %}Profil{% endblock %}
{% load humanize %}
{% block content %}
<div class="profil mt-2">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="mb-n1">Mon Profil</h2>
            <a href="{% url 'boutique:deconnexion' %}" class="ml-2">déconnexion</a>
            <hr>
            <div>
                <h6>Nom d'utilisateur : {{ user.username }}</h6>
                <h6>Nom : {{ user.first_name }}</h6>
                <h6>Prénom : {{ user.last_name }}</h6>
                <p>Email : {{ user.email }}</p>
                <hr>
                <h6 >Informations supplémentaires:</h6>
                <p>Bio: {% if profil.bio %} {{ profil.bio }} {% else %} Vide {% endif %}</p>
                <p>Inscrit au newsletter: {% if profil.inscrit_newsletter %} Oui {% else %} Non {% endif %}</p>
                <p>Dernière connexion : {{ user.last_login|naturaltime }}</p>
                <p>Date d'inscription: {{ user.date_joined|naturalday }}</p>
                <a href="{% url 'boutique:passwordchange' %}" class="btn btn-outline-primary">Changer le mot de passe</a>
                <hr>
            </div>
        </div>
        <div class="col-12 col-md-6 text-left text-md-right">
            <a href="{% url 'boutique:modif_profil' %}" class="btn btn-primary btn-sm">Modifier le profil</a>
        </div>
    </div>
    <div class="row mt-3">
        <h4 class="ml-3">Mes Paniers</h4>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
          <div class="list-group" id="list-tab" role="tablist">
            {% for panier in liste_panier %}
            {% if forloop.first %}
            <a class="list-group-item list-group-item-action active" id="list-{{panier.nom}}-list" data-toggle="list" href="#{{ panier.nom }}" role="tab" aria-controls="home">{{ panier.nom|truncatewords:20 }}</a>
            {% else %}
            <a class="list-group-item list-group-item-action" id="list-{{panier.nom}}-list" data-toggle="list" href="#{{ panier.nom }}" role="tab" aria-controls="profile">{{ panier.nom|truncatewords:20 }} </a>
            {% endif %}
            {% empty %}
            <p>Pas de panier à ce jour!</p>
            {%endfor%}
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="tab-content" id="nav-tabContent">
            {% for panier in liste_panier %}
            <div class="tab-pane fade show active" id="{{ panier.nom }}" role="tabpanel" aria-labelledby="list-{{panier.nom}}-list">
              <table class="table table-bordered">
                {% for prod in panier.produits.all %}
                <tr>
                  <th><img src="{{prod.produits.image.url}}" width="25px" height="25px" alt="{{produit.nom}}"></th>
                  <th class="font-weight-light">{{ prod.produits.nom }}</th>
                  <th class="text-center">{{prod.quantite_du_produit }}</th>
                  <th style="color: orange;">{{prod.prix_du_produit|floatformat }} <span class="font-weight-normal">{{ devise }}</span></th>
                </tr>
                {% endfor %}
              </table>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
</div>
{% endblock %}