
<div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
        {% for promo in liste_produits_promo %}
        {% if forloop.first %}
            <div class="carousel-item active">
                <img src="{{ promo.image.url }}" class="w-100 img-responsive"  alt="{{ promo.nom }}">
                
                <div class="carousel-caption d-lg-none d-sm-blok">
                    <h5 style="color: #ed6b5b;">Reduction de <span class="border p-1">- {{ promo.reduction|floatformat }}%</span> </h5>
                    <p>{{ promo.nom }}</p>
                    <p>{{ promo.prix|floatformat }} {{devise}}</p>
                    <a href="{% url 'boutique:details' pk=promo.id slug=promo.slug%}" class="btn btn-outline-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                    </a>
                </div>
                
                <div class="carousel-caption d-none d-lg-block">
                    <h1 class="font-weight-bold " style="color: #ed6b5b;">Reduction de <span class="border p-1">- {{ promo.reduction|floatformat }}%</span> </h1>
                    <h2 class="font-weight-bolder">{{ promo.nom }}</h2>
                    <hr>
                    <h5 class="font-weight-bolder">{{ promo.prix|floatformat }} {{devise}}</h5>
                    <a href="{% url 'boutique:details' pk=promo.id slug=promo.slug%}" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                    </a>
                </div>
            </div>
        {%else%}
        <div class="carousel-item">
            <img src="{{ promo.image.url }}" class=" w-100 img-responsive" alt="{{ promo.nom }}">
            
            <div class="carousel-caption d-sm-blok d-lg-none">
                <h5 style="color: #ed6b5b;">Reduction de <span class="border p-1">- {{ promo.reduction|floatformat }}%</span> </h5>
                <p>{{ promo.nom }}</p>
                <p>{{ promo.prix|floatformat }} {{devise}}</p>
                <a href="{% url 'boutique:details' pk=promo.id slug=promo.slug%}" class="btn btn-outline-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                </a>
            </div>
            
            <div class="carousel-caption d-none d-lg-block">
                <h1 class="font-weight-bold h1-responsive" style="color: #ed6b5b;">Reduction de <span class="border p-1"> - {{ promo.reduction|floatformat }}% </span></h1>
                <h2 class="font-weight-bolder h2-responsive">{{ promo.nom }}</h2>
                <hr>
                <h5 class="font-weight-bolder h5-responsive">{{ promo.prix|floatformat }} {{devise}}</h5>
                <a href="{% url 'boutique:details' pk=promo.id slug=promo.slug %}" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                    </svg>
                </a>
            </div>
        </div>
        {%endif%}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon " aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>
</div>
<hr>